.order-last {
    background: #73bcbf;
    width: 100vw;
}

#interest, #developer {
    display: inline;
}



@media screen and (min-width: 30em) {
    .vh-100-ns {
        height: 85vh;
    }
}

@media screen and (min-width: 30em) {
    .pl6-ns {
        padding-left: 8rem;
        height: 15vh;
    }
}

